# Exercise 03 - Columnar Vs Row Storage

- The columnar storage extension used here: 
    - cstore_fdw by citus_data [https://github.com/citusdata/cstore_fdw](https://github.com/citusdata/cstore_fdw)
- The data tables are the ones used by citus_data to show the storage extension

In [1]:
%load_ext sql

## STEP 0 : Connect to the local database where Pagila is loaded

### Create the database

In [2]:
#!sudo -u postgres psql -c 'CREATE DATABASE reviews;'
!PGPASSWORD=student dropdb --if-exists -h 127.0.0.1 -U student reviews
!PGPASSWORD=student createdb -h 127.0.0.1 -U student reviews

!wget http://examples.citusdata.com/customer_reviews_1998.csv.gz
!wget http://examples.citusdata.com/customer_reviews_1999.csv.gz

!gzip -d customer_reviews_1998.csv.gz 
!gzip -d customer_reviews_1999.csv.gz 

!mv customer_reviews_1998.csv /tmp/customer_reviews_1998.csv
!mv customer_reviews_1999.csv /tmp/customer_reviews_1999.csv

URL transformed to HTTPS due to an HSTS policy
--2021-04-08 10:29:56--  https://examples.citusdata.com/customer_reviews_1998.csv.gz
Resolving examples.citusdata.com (examples.citusdata.com)... 104.26.14.56, 172.67.73.2, 104.26.15.56, ...
Connecting to examples.citusdata.com (examples.citusdata.com)|104.26.14.56|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 24774482 (24M) [application/x-gzip]
Saving to: ‘customer_reviews_1998.csv.gz’

customer_reviews_19 100%[===================>]  23.63M   727KB/s    in 34s

2021-04-08 10:30:30 (717 KB/s) - ‘customer_reviews_1998.csv.gz’ saved [24774482/24774482]

URL transformed to HTTPS due to an HSTS policy
--2021-04-08 10:30:30--  https://examples.citusdata.com/customer_reviews_1999.csv.gz
Resolving examples.citusdata.com (examples.citusdata.com)... 104.26.15.56, 172.67.73.2, 104.26.14.56, ...
Connecting to examples.citusdata.com (examples.citusdata.com)|104.26.15.56|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 48996256 (47M) [application/x-gzip]
Saving to: ‘customer_reviews_1999.csv.gz’

customer_reviews_19 100%[===================>]  46.73M   697KB/s    in 67s

2021-04-08 10:31:38 (716 KB/s) - ‘customer_reviews_1999.csv.gz’ saved [48996256/48996256]

### Connect to the database

In [3]:
DB_ENDPOINT = "127.0.0.1"
DB = 'reviews'
DB_USER = 'student'
DB_PASSWORD = 'student'
DB_PORT = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)

postgresql://student:student@127.0.0.1:5432/reviews

In [4]:
%sql $conn_string

## STEP 1 :  Create a table with a normal  (Row) storage & load data

**TODO:** Create a table called customer_reviews_row with the column names contained in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files.

In [7]:
%%sql
DROP TABLE IF EXISTS customer_reviews_row;
CREATE TABLE customer_reviews_row(
    customer_id TEXT,
    review_date DATE,
    review_rating INTEGER,
    review_votes INTEGER,
    review_helpful_votes INTEGER,
    product_id CHAR(10),
    product_title TEXT,
    product_sales_rank BIGINT,
    product_group TEXT,
    product_category TEXT,
    product_subcategory TEXT,
    similar_product_ids CHAR(10)[]
);

 * postgresql://student:***@127.0.0.1:5432/reviews
Done.
Done.

[]

**TODO:** Use the [COPY statement](https://www.postgresql.org/docs/9.2/sql-copy.html) to populate the tables with the data in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files. You can access the files in the `/tmp/` folder.

In [8]:
%%sql 
COPY customer_reviews_row FROM '/tmp/customer_reviews_1998.csv' WITH CSV;
COPY customer_reviews_row FROM '/tmp/customer_reviews_1999.csv' WITH CSV;

 * postgresql://student:***@127.0.0.1:5432/reviews
589859 rows affected.
1172645 rows affected.

[]

## STEP 2 :  Create a table with columnar storage & load data

First, load the extension to use columnar storage in Postgres.

In [11]:
%%sql

-- load extension first time after install
CREATE EXTENSION cstore_fdw;

-- create server object
CREATE SERVER cstore_server FOREIGN DATA WRAPPER cstore_fdw;

 * postgresql://student:***@127.0.0.1:5432/reviews
Done.
Done.

[]

**TODO:** Create a `FOREIGN TABLE` called `customer_reviews_col` with the column names contained in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files.

In [14]:
%%sql
-- create foreign table
DROP FOREIGN TABLE IF EXISTS customer_reviews_col;

-------------
CREATE FOREIGN TABLE customer_reviews_col
(
    customer_id TEXT,
    review_date DATE,
    review_rating INTEGER,
    review_votes INTEGER,
    review_helpful_votes INTEGER,
    product_id CHAR(10),
    product_title TEXT,
    product_sales_rank BIGINT,
    product_group TEXT,
    product_category TEXT,
    product_subcategory TEXT,
    similar_product_ids CHAR(10)[]
)
SERVER cstore_server
OPTIONS(compression 'pglz');

 * postgresql://student:***@127.0.0.1:5432/reviews
Done.
Done.

[]

**TODO:** Use the [COPY statement](https://www.postgresql.org/docs/9.2/sql-copy.html) to populate the tables with the data in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files. You can access the files in the `/tmp/` folder.

In [15]:
%%sql 
COPY customer_reviews_col FROM '/tmp/customer_reviews_1998.csv' WITH CSV;
COPY customer_reviews_col FROM '/tmp/customer_reviews_1999.csv' WITH CSV;

 * postgresql://student:***@127.0.0.1:5432/reviews
589859 rows affected.
1172645 rows affected.

[]

## Step 3: Compare perfromamce

Now run the same query on the two tables and compare the run time. Which form of storage is more performant?

**TODO**: Write a query that calculates the average `review_rating` by `product_title` for all reviews in 1995. Sort the data by `review_rating` in descending order. Limit the results to 20.

First run the query on `customer_reviews_row`:

In [36]:
%%time
%%sql

SELECT product_title, AVG(review_rating) as avg_rating
FROM customer_reviews_row
WHERE review_date >= '1995-01-01' AND review_date <= '1995-12-31'
GROUP BY product_title
ORDER BY avg_rating DESC
LIMIT 20;

 * postgresql://student:***@127.0.0.1:5432/reviews
20 rows affected.
CPU times: user 4.91 ms, sys: 0 ns, total: 4.91 ms
Wall time: 83.3 ms

[("Act Like Nothing's Wrong", Decimal('5.0000000000000000')),
 ('Albinus on Anatomy', Decimal('5.0000000000000000')),
 ('Accidental Empires', Decimal('5.0000000000000000')),
 ('A Civil Action (Vintage)', Decimal('5.0000000000000000')),
 ('Acts of Kindness', Decimal('5.0000000000000000')),
 ("Ain't Nobody's Business If You Do ", Decimal('5.0000000000000000')),
 ('A First Course in General Relativity', Decimal('5.0000000000000000')),
 ('A Year in Provence (abridged)', Decimal('5.0000000000000000')),
 ("A People's History of the United States", Decimal('5.0000000000000000')),
 ("A People's History of the United States ", Decimal('5.0000000000000000')),
 ('A Darkness at Sethanon ', Decimal('5.0000000000000000')),
 ('A Sea of Words, Third Edition', Decimal('5.0000000000000000')),
 ('A Skiff for All Seasons', Decimal('5.0000000000000000')),
 ('99 Critical Shots in Pool ', Decimal('5.0000000000000000')),
 ('A Swiftly Tilting Planet', Decimal('5.0000000000000000')),
 ('A Swiftly Tilting Planet (Yearling Books)', Decimal('5.0000000000000000')),
 ("A Beginner's Guide to Constructing the Universe", Decimal('5.0000000000000000')),
 ('A Year In Provence', Decimal('5.0000000000000000')),
 ('A Year in Provence (Vintage Departures)', Decimal('5.0000000000000000')),
 ("Albion's Seed", Decimal('5.0000000000000000'))]

 Then on `customer_reviews_col`:

In [35]:
%%time
%%sql

SELECT product_title, AVG(review_rating) as avg_rating
FROM customer_reviews_col
WHERE review_date >= '1995-01-01' AND review_date <= '1995-12-31'
GROUP BY product_title
ORDER BY avg_rating DESC
LIMIT 20;

 * postgresql://student:***@127.0.0.1:5432/reviews
20 rows affected.
CPU times: user 4.58 ms, sys: 0 ns, total: 4.58 ms
Wall time: 6.3 ms

[('Christmas in America', Decimal('5.0000000000000000')),
 ("Wizard's First Rule (Bookcassette(r) Edition)", Decimal('5.0000000000000000')),
 ('Postmortem', Decimal('5.0000000000000000')),
 ('Fingerprints of the Gods (Alternative History)', Decimal('5.0000000000000000')),
 ('Constructing the Sexual Crucible', Decimal('5.0000000000000000')),
 ('SOCIETY OF MIND', Decimal('5.0000000000000000')),
 ('The Face on the Milk Carton', Decimal('5.0000000000000000')),
 ('Post Captain (Aubrey-Maturin (Audio))', Decimal('5.0000000000000000')),
 ('Wild Swans', Decimal('5.0000000000000000')),
 ('The Doors (Special Edition)', Decimal('5.0000000000000000')),
 ('National Audubon Society Field Guide to the Night Sky (Audubon Society Field Guide Series)', Decimal('5.0000000000000000')),
 ('The Crystal Shard (Forgotten Realms', Decimal('5.0000000000000000')),
 ('King Rat', Decimal('5.0000000000000000')),
 ('Native Tongue', Decimal('5.0000000000000000')),
 ('The Book of Kisses ', Decimal('5.0000000000000000')),
 ('Lord of Chaos (The Wheel of Time, Book 6)', Decimal('5.0000000000000000')),
 ('Making Movies Work', Decimal('5.0000000000000000')),
 ('Becoming a Technical Leader', Decimal('5.0000000000000000')),
 ('Break on Through ', Decimal('5.0000000000000000')),
 ('Amber Diceless Role-Playing', Decimal('5.0000000000000000'))]

## Conclusion: We can see that the columnar storage is faster!